/*parallax custom styles*/

main.parallax {
  perspective-origin: 100%; /*webkit based browsers don't correctly calculate the effective width of an element once transformed into 3D space and scaled up, so this rule fixes that bug*/
  
  /*border: 2px solid blue;*/
  height: 100vh;
  max-height: 100%;
  overflow-x: hidden;
  perspective: 1px;
  perspective-origin: center top;
  transform-style: preserve-3d;
 
}

/*parallax image styling*/
header {
  width: 100vw;
  height: 70vh;
  background-image: url('/img/reading.jpg');
  background-size: cover;
  background-position: center center;
  position: relative;
  vertical-align: top;
  transform-origin: center top;
  transform: translateZ(-1px) scale(2);
}

/*parallax text below image styling*/
section {
  min-height: 40vh;
  transform: translateZ(0);
  padding: 10px 0;
  background-color: #241e20;
  color: white;
  text-align: center;
  font-weight: bold;
} */


/*home page cards styling*/
#home-cards .btn{
  background-color: #241e20;
  border: 2px solid #5f94be;
}

#home-cards .card-body {
    border: 2px solid #5f94be;
}

/*bottom of home section styling*/
.mid-container.home-bottom {
    background-color: #241e20;
}

/*default template styles below*/

@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

/*TEXT SLIDE IN*/
body{
	padding: 0;
	margin: 0;
}

/*.link {*/
/*	padding: 10px;*/
/*}*/

.container{
	width: 100%;
}

.text{
	font-size: 60px;
	text-align: center;
	padding: 0;
	margin: 0;
	margin-left: 50%;
	transform: translateX(-200%);
	opacity: 0;
	animation: slide-in-anim 1.5s ease-out forwards;
}

@keyframes slide-in-anim {
	20% {
		opacity: 0;
	}
	60% {
		transform: translateX(-45%);
	}
	75% {
		transform: translateX(-52%);
	}
	100% {
		opacity: 1;
		transform: translateX(-50%);
	}
}

.inactive {
  display: none;
}

.margin-auto {
  margin: 0 auto;
}

body {
  color: #010400;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif!important;
}

p {
    font-family: 'Roboto Slab', serif!important;
}


/* Container holding the image and the text */
.img-container {
  position: relative;
  text-align: center;
  color: black;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.opacity
{
  filter: opacity(0.3);
}

/* Layout Only */

.filterContainer
{
  display: flex;
}

.filterContainer img
{
  height: auto;
  width: 50%;
}


/***** Card Zoom *****/

  .card {
    transition: transform 0.2s ease;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 0;
    border: 0;
    margin-bottom: 1.5em;
  }
  .card:hover {
    transform: scale(1.1);
  }


@-webkit-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
@-moz-keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
@keyframes bouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
